.nav-logo{
    width: 40px;
    height: auto;
}

.footer-base{
    margin-top: 200px !important;
}
.loader-vh{
    margin-top: 30vh;
}

/* .nav-link-span{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
} */

